
:root {
    --tamanho-1: 24px;

    --screenSize: 750px;
    --routeWidth: 10%;  
    --scenaryWidth: calc(82% - var(--routeWidth));
    --hudWidth: calc( 100% - var(--scenaryWidth));
    --boxPlayerWidth: 491px;
    --backColor: black;
    --widthPlayer: 45px;
    --widthEnemie: 48px;
}

html {
    background-color: var(--backColor);
}

.screen {
    display: flex;
    background-color: aliceblue;
    
    margin: 5em auto;
    width: var(--screenSize);
    height: var(--screenSize);
    
}


/* ----------------------- router -------------------*/
.route {
    position: relative;
    background-color: brown;
    width: var(--routeWidth);
}

.countBar {
    width: 100%;
    height: 100%;
}

.countCar {
    position: absolute;
    width: 30px;
    left: 20px;
    bottom: 55px;
}

/* ----------------------------------------- */
/* -------------------scenary--------------- */

.scenary {
    display: flex;
    flex-direction: column-reverse;
    background-color: aqua;
    width: var(--scenaryWidth);
    overflow: hidden;
}

.scenaryMonitor {
    margin: 0;
    width: 100%;
}

.boxPlayer {
    position: absolute;
    height: 200px;
    width: var(--boxPlayerWidth);
    /* background-color: aqua; */
}

.player {
    position: relative;
    width: var(--widthPlayer);
    left: 150px;
}

.enemies {
    background-color: rgba(201, 0, 0, 0.24);
    position: absolute;
    top: -65px; /* top 8 */
    height: 1045px; /* 900 */
    padding: 0 117px 0 117px;
    width: 257px; /* 257 */
    margin: 0;
    /* background-color: rgba(0, 255, 255, 0.377); */
}

.enemieCar {
    position: relative;
    width: var(--widthEnemie);
    /* left: 100px;  */
}
/* -----------------end scenary---------------- */

.hud {
    background-color: rgb(44, 30, 235);
    width: var(--hudWidth);
}