
:root {
    --tamanho-1: 24px;

    --screenSize: 750px;
    --routeWidth: 10%;  
    --scenaryWidth: calc(82% - var(--routeWidth));
    --hudWidth: calc( 100% - var(--scenaryWidth));
    --boxPlayerWidth: 491px;
    --backColor: black;
    --widthPlayer: 45px;
    --widthEnemie: 48px;
    --keyboradButtonSize: 13px;
    --keyboardInstructionShadown: 5px;
    --sizeRowInstructionCar: 30px;
    --topRowInstructionCar: 40px;
    --distanceRowInstructionCar: 90px;
    --widthSVG: 40px;
}

html {
    background-color: var(--backColor);
}

.screen {
    display: flex;
    background-color: aliceblue;
    
    margin: 5em auto;
    width: var(--screenSize);
    height: var(--screenSize);
    
}


/* ----------------------- router -------------------*/
.route {
    position: relative;
    background-color: brown;
    width: var(--routeWidth);
}

.countBar {
    width: 100%;
    height: 100%;
}

.countCar {
    position: absolute;
    width: 30px;
    left: 20px;
    bottom: 55px;
}

/* ----------------------------------------- */
/* -------------------scenary--------------- */

.scenary {
    display: flex;
    flex-direction: column-reverse;
    background-color: aqua;
    width: var(--scenaryWidth);
    overflow: hidden;
}

.scenaryMonitor {
    margin: 0;
    width: 100%;
}

.boxPlayer {
    position: absolute;
    height: 200px;
    width: var(--boxPlayerWidth);
    /* background-color: aqua; */
}

.player {
    position: relative;
    width: var(--widthPlayer);
    left: 150px;
}

.enemies {
    /* background-color: rgba(201, 0, 0, 0.24); */
    position: absolute;
    top: -65px; /* top 8 */
    height: 1045px; /* 900 */
    padding: 0 117px 0 117px;
    width: 257px; /* 257 */
    margin: 0;
    /* background-color: rgba(0, 255, 255, 0.377); */
}

.enemieCar {
    position: relative;
    width: var(--widthEnemie);
    /* left: 100px;  */
}

.finished {
    position: absolute;
    top: 10px;
    padding: 0 120px 0 120px;
}

.finishedBar {
    position: relative;
    width: 252px;
}

/* -----------------end scenary---------------- */
/* hud */
.hud {
    background-color: rgb(44, 30, 235);
    width: var(--hudWidth);
}
/* end hud */

/* menu  */


.menu {
    position: absolute;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menuHome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menuMidia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em auto;
}

.menuHome p{
    font-size: 1.3em;
}

.menuHome svg {
    width: var(--widthSVG);
    color: black;
    margin: 0 1em;
}

.menuHome svg:hover {
    animation: svgHover 1s linear infinite;
}

.menuHome ul {
    position: relative;
    list-style: none;
    display: flex;
    padding: 0;
}

.startBtn {
    background-color: rgb(255, 255, 255);
    width: 6em;
    height: 3em;
    border: 1px solid black;
    box-shadow: 6px 6px 0em black;
    border-radius: .8em;
    cursor: pointer;
    font-weight: bolder;
    margin: 0 auto;
}

.startBtn:hover {
    position: relative;
    box-shadow: 0px 0px 0px black;
    left: 6px;
    top: 6px;
}


.menuHome-instruction_keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuHome-instruction_keyboard--btn {
    /* display: flex;

    align-items: center;
    justify-content: center; */
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    margin: 0 50px;
    /* background-color: aqua; */
}

.menuHome-instruction_keyboard--btn div {
    position: relative;
    border: 2px solid black;
    height: 40px;
    width: 45px;
    
    
    box-shadow: var(--keyboardInstructionShadown) var(--keyboardInstructionShadown) 0 black;
    margin: .4em;
    
    transition: all .5s ease;
    
}

.menuHome-instruction_keyboard--btn div::after {
    content: "";
    position: absolute;
    border: solid black;
    width: var(--keyboradButtonSize);
    height: var(--keyboradButtonSize);
    left: 50%;
    top: 50%;
}


/* left */
.menuHome-instruction_keyboard--btn div:nth-child(1) { 
    grid-row: 2;
    grid-column: 1;

    animation: instructionKeyboard 1.5s linear infinite;
    /* animation-delay: 1.5s; */
    animation-play-state:running;
}

.menuHome-instruction_keyboard--btn div:nth-child(1)::after {
    border-width: 0 0 2px 2px;
    transform: translate(-50%, -50%) rotate(45deg);
}


/* up */
.menuHome-instruction_keyboard--btn div:nth-child(2) {
    grid-column: 2;
}

.menuHome-instruction_keyboard--btn div:nth-child(2)::after {
    border-width: 2px 0 0 2px;
    transform: translate(-50%, -50%) rotate(45deg);
}


/* right */
.menuHome-instruction_keyboard--btn div:nth-child(3) {
    grid-row: 2;
    grid-column: 3;

    animation: instructionKeyboard 1.5s linear infinite;
    /* animation-play-state: paused; */
}

.menuHome-instruction_keyboard--btn div:nth-child(3)::after {
    border-width: 2px 2px 0 0;
    transform: translate(-50%, -50%) rotate(45deg);
}


/* down */
.menuHome-instruction_keyboard--btn div:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
}
.menuHome-instruction_keyboard--btn div:nth-child(4)::after {
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}


.menuHome-instruction_keyboard--car {
    /* display: flex;
    justify-content: center; */
    padding: 1em;
    min-width: 300px;
}

.menuHome-instruction_keyboard--car::after, .menuHome-instruction_keyboard--car::before {
    content: "";
    position: absolute;
    width: var(--sizeRowInstructionCar);
    height: var(--sizeRowInstructionCar);
    top: var(--topRowInstructionCar);
    border: solid black;
    transform: rotate(45deg);

    animation: instructionRow 1s linear infinite;
}

.menuHome-instruction_keyboard--car::after {
    border-width: 0 0 5px 5px;
    left: var(--distanceRowInstructionCar);
}

.menuHome-instruction_keyboard--car::before {
    border-width: 5px 5px 0 0;
    right: var(--distanceRowInstructionCar);
}


.menuHome-instruction_keyboard--car img {
    position: relative;
    width: calc(var(--tamanho-1) + 6px);
    animation: instructionCar 3s linear infinite;
}


@keyframes instructionKeyboard {
    0%{
        position: relative;
        top: 0;
        left: 0;
        box-shadow: var(--keyboardInstructionShadown) var(--keyboardInstructionShadown) 0 black;
    }
    10%{
        position: relative;
        box-shadow: 0 0 0 black;
        top: var(--keyboardInstructionShadown);
        left: var(--keyboardInstructionShadown);
    }
    100% {
        position: relative;
        box-shadow: 0 0 0 black;
        top: var(--keyboardInstructionShadown);
        left: var(--keyboardInstructionShadown);
    }
}

@keyframes instructionRow {
    0% {
        width: var(--sizeRowInstructionCar);
        height: var(--sizeRowInstructionCar);
    } 
    50% {
        width: 20px;
        height: 20px;
        top: 45px;
        opacity: 50%;
    }
    100% {
        width: var(--sizeRowInstructionCar);
        height: var(--sizeRowInstructionCar);
    }
}

@keyframes instructionCar {
    0% {
        left: 0;
    } 50% {
        left: 275px;
    } 100% {
        left: 0;
    }
}

@keyframes svgHover {
    0% {
        width: var(--widthSVG);
    } 50% {
        width: calc(var(--widthSVG) + 10px);
    } 100% {
        width: var(--widthSVG);
    }
}
/* end menu */